.chat-space-container{
    height: 99%;
    margin: 0.25%;
    width: 69%;
    border: 2px solid linear-gradient(180deg, #00b3ff, #513cff);
    border-radius: 0 20px 20px 0;
    background: linear-gradient(180deg, #f6fcfc, #eeedfc);
}
.chat-info{
    height: 50px;
    background: linear-gradient(180deg, #22bdff, #7e70fd);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: rgb(255, 255, 255);
    margin: 0px;
    overflow: hidden;
    border-radius: 0 20px 0 0;
  }